/* (c) dps 2020 */

:root {
    --main-color: #6a6a6a;
}

body {
    height: 100%;
    width: 100%;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    overflow: hidden;
}


.title {
    padding-left: 15px;
    float: left;
    background-image: linear-gradient(to right, #e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Popup box overlay */
.overlay {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #999;
    margin: 60px auto;
    padding: 20px;
    width: 300px;
    position: relative
}

.popup h2 {
    margin-top: 0;
    color: #fff;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    text-decoration: none;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .popup {
        width: 70%;
        margin: 0 auto;
        background: var(--main-color);
        overflow-y: auto;
    }
    .overlay {
        background: var(--main-color);
    }
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: -1;
}

.main p {
    display: inline-block;
    width: 350px;
    height: 10px;
    text-align: center;
}

.main h2 {
    text-decoration: underline;
    text-align: center;
    height: 10px;
}

.icons a {
    display: block;
    text-align: center;
    line-height: 1.6;
}

/* Make sure that both visited and unvisited links are the same colour */
a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

.icons img {
    position: absolute;
    padding-left: 5px;
    color: pink;
}

.footer {
    position: absolute;
    bottom: 0; 
    height: 40px; 
    left: 50%; 
    color: #fff; 
    transform: translate(-50%, -50%);
    z-index: -1;
}
